.container{
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto auto auto;

}

header{
    background-color: #fff ;
    grid-column-start: 1;
    grid-column-end: 4;
}

footer{
    background-color: #fff ;
    grid-column-start: 1;
    grid-column-end: 4;
}
nav{
    background-color: rgb(101, 189, 196);
    /*
    grid-column: 3;
    grid-row: 2;
    */
}
nav ul li{
    color:rgb(74, 45, 94);
}
article{
    background-color: #cdcdcd;

}
aside{
    background-color: #c5c5c5;
    /*    
    grid-column: 1;
    grid-row: 2;*/
}