@import url("../../css/home.css");

.imagresponsiva{ width:100%;}

.tamanhoh2{ font-size: 100%; }

h1{ color: #006064 ;}

h2, h3, p { color: #37474f;}

pre{ color:#fff; background-color:#212121; width:100%; font-size:70%; padding:8px;}
